{% extends "base.html" %}

{% block lab %} Лабораторная работа 5{% endblock %}

{% block main %}

    
    <form method="post">
        <h1>Регистрация пользователя!</h1>
        
        <div>
          {{ errors }}
        </div>

        <div>
          <input class="pole" type="text" name="username" placeholder="username">
        </div>

        <div>
          <input class="pole" type="password" name="password" placeholder="password">
        </div>

        <div>{{ error_password_form }}</div>

      <button type="submit">Зарегистрироваться</button>

      <div>
        {{ error_username_from }}
      </div>
    
    </form>
  

{% endblock %}